//
//  Development.xcconfig
//  News-App
//
//  Created by BTS.id on 29/04/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

// Server URL
SCHEME = https
HOST = newsapi.org
API_KEY = c2379af74b444b68b7289a0a62895f94

// Backward Compatible Values
ENV_NAME = dev

// Overriding (do NOT change key name)
// app name
PRODUCT_NAME = $(APP_NAME)

// bundle id
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).$(ENV_NAME)

// app version
MARKETING_VERSION = 1.0.1

// build number
CURRENT_PROJECT_VERSION = 1
