//
//  Production.xcconfig
//  News-App
//
//  Created by BTS.id on 29/04/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

// Server URL
SCHEME = https
HOST = newsapi.org
API_KEY = 889cca776b0c4f3aaf2d28757d2e7746

// Backward Compatible Values
ENV_NAME = production

// Overriding (do NOT change key name)
// app name
PRODUCT_NAME = $(APP_NAME)

// bundle id
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

// app version
MARKETING_VERSION = 1.0.1

// build number
CURRENT_PROJECT_VERSION = 1
